ul#categories_container.inline-list.categories
  li Please choose category:
  li
    a(href="showAll") All
  |<script id="templateCategories" type="text/x-handlebars-template">
  |{{#each categories}}
  |<li>
  |  <a href="{{id}}">
  |   {{title}}
  |  </a>
  |</li>
  |{{/each}}
  |</script>
