ul#categories_container.inline-list.categories
  li.categories--title Please choose category:
  li.categories--option 
    a(href="showAll") All
  |<script id="templateCategories" type="text/x-handlebars-template">
  |{{#each categories}}
  |<li class ="categories--option">
  |  <a href="{{id}}" alt="{{title}}" >
  |   {{title}}
  |  </a>
  |</li>
  |{{/each}}
  |</script>
