script(src="js/vendor/jquery.min.js")
script(src="js/vendor/jquery.fs.stepper.min.js")
script(src="js/vendor/handlebars.min.js")
script(src="js/basketAdoptive.js")
script(src="js/categories.js")
script(src="js/galleries.js")
script(src="js/product.js")
script(src="js/basket.js")
script(src="js/app.js")