.gallery-cell( data-gallery )
  a(href="" data-gallery-main).gallery-cell--main
    img(src="img/3.png", alt="")
  a(href="" data-gallery-left ).gallery-cell--left
  ul.gallery-cell--list(data-gallery-list)
    li.gallery-cell--list--item
      a(href="")
        img(src="img/1.jpg", alt="")
    li.gallery-cell--list--item
      a(href="")
        img(src="img/2.jpg", alt="")
    li.gallery-cell--list--item
      a(href="")
        img(src="img/3.png", alt="")
  a(href="" data-gallery-right ).gallery-cell--right