head
	meta(charset="UTF-8")
	title AmazonKiller
	link(href="css/foundation.css", rel="stylesheet")
	link(href="css/app.min.css", rel="stylesheet")
	link(href="bower_components/Stepper/jquery.fs.stepper.css", rel="stylesheet")