head
	meta(charset="UTF-8")
	title AmazonKiller
	|<!-- build:js css/app.min.css -->
	link(href="css/foundation.css", rel="stylesheet")
	link(href="css/app.css", rel="stylesheet")
	link(href="css/jquery.fs.stepper.css", rel="stylesheet")
	|<!-- /build -->